# Библиотека Pandas

## Data Frame

In [1]:
import pandas as pd

In [77]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('dataset.tsv', sep='\t')

In [78]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [79]:
#добавление строки в DataFrame
frame.append(new_line, ignore_index=True)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [80]:
#добавление строки в DataFrame
frame = frame.append(new_line, ignore_index=True)

In [81]:
#добавление столбца в DataFrame
frame['IsStudent'] = [False]*5 + [True]*2

In [48]:
#удаление строк DataFrame (inplace)
frame.drop([5,6], axis=0, inplace=True)

In [49]:
#удаление столбца DataFrame (inplace)
frame.drop(['IsStudent','City'], axis=1, inplace=True)

In [93]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
Name         7 non-null object
Birth        7 non-null datetime64[ns]
City         7 non-null object
Position     7 non-null object
IsStudent    7 non-null bool
dtypes: bool(1), datetime64[ns](1), object(3)
memory usage: 311.0+ bytes

In [91]:
frame.shape

TypeError: 'tuple' object is not callable

In [53]:
#запись DataFrame в файл
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=False)

In [99]:
import numpy

In [100]:
f = numpy.arange(1, 2, 0.3, dtype=float)